.places {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
=======
    margin-bottom: 100px;
    background-color: rgb(221, 221, 255);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
>>>>>>> 0f33f98 (added weather widget)
}

.places__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.places__title {
<<<<<<< HEAD
    margin: 0;
=======
    font-size: 25px;
    margin: 0 0 10px 0;
}

.places__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
>>>>>>> 0f33f98 (added weather widget)
}

.places__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
<<<<<<< HEAD
=======
    margin-bottom: 20px;
>>>>>>> 0f33f98 (added weather widget)
}

.places__button {
    padding: 10px 15px;
    box-sizing: border-box;
<<<<<<< HEAD
    border: 1px solid black;
    background-color: transparent;
=======
    border: none;
    background-color: white;
>>>>>>> 0f33f98 (added weather widget)
    border-radius: 7px;
    font-size: 15px;
    color: black;
    cursor: pointer;
<<<<<<< HEAD
    transition: transform .1s ease-in-out, border .1s ease-in-out;
}

.places__button_active {
    background-color: lightgray;
}

.places__button:hover {
    transform: scale(1.03);
    border: 1px solid rgb(0, 99, 5);
=======
    transition: all .1s ease-in-out;
}

.places__button_active {
    background-color: rgb(153, 255, 144);

}

.places__button:hover {
    transform: scale(1.05);
>>>>>>> 0f33f98 (added weather widget)

}

.places__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
<<<<<<< HEAD
=======
    margin: 0;
>>>>>>> 0f33f98 (added weather widget)
}